.shadow {
  text-shadow: 2px 2px 9px black;
  subheading: 2px
}

.fjalla {
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 100%;
  font-size: 100%;
}

.buttons {
  text-shadow: 2px 2px 9px black;
}

.padding {
  padding-top: 20px;
}

.disablepadding {
  padding: 0px;
}

.imageholder {
  img {
    display:inline-block;
    vertical-align: middle;
  }
}

#projects {
  padding-top: 100px;
}

#screencap {
  padding-right: 0px;
}


#fjalla {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 100%;
  font-size: 400%;
}

#navbar {
  box-shadow: none;
}
